[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_100001010385B5AE6FF295554D2100F5-if00

[mcu z]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_FF9F0013029175AFAC5EFF5EC42000F5-if00

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000    		
#max_accel: 7000
#max_accel_to_decel: 7000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: P1.29
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 1.4
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: P1.28
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 1.4
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: z:P2.2
dir_pin: z:P2.6
enable_pin: !z:P2.1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: z:P1.27
position_max: 330
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: z:P1.10
interpolate: true
run_current: 1.4
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: z:P0.19
dir_pin: !z:P0.20
enable_pin: !z:P2.8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: z:P1.9
interpolate: true
run_current: 1.4
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: z:P0.22
dir_pin: z:P2.11
enable_pin: !z:P0.21
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: z:P1.8
interpolate: true
run_current: 1.4
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: z:P2.13
dir_pin: !z:P0.11
enable_pin: !z:P2.12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: z:P1.4
interpolate: true
run_current: 1.4
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: P1.4
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[thermistor 100k3950_airtemp]
temperature1: 20
resistance1: 125245
temperature2: 50
resistance2: 35900
temperature3: 80
resistance3: 12933

[heater_bed]
heater_pin: z:P2.3
sensor_type: 100k3950
sensor_pin: z:P0.25
max_power: 0.65
pwm_cycle_time: 0.01666666666
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 180
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

#####################################################################
# 	Chamber Temperature
#####################################################################

[temperature_sensor chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: z:P0.24
min_temp: 0
max_temp: 100
gcode_id: C

# [temperature_sensor frame]
# sensor_type: 100k3950
# sensor_pin: P0.23
# min_temp: 0
# max_temp: 100
# gcode_id: frame

[frame_expansion_compensation]
coeff: 23.4
#   Coefficient of linear expansion for the frame material [μm/m·°C].
#   E.g. 23.4 μm/m·°C for Misumi A6N01SS-T5 6005A-T5 aluminum alloy.
frame_z_length: 530
#   Total length of vertical extrusions [mm].
gantry_factor: 1.9
#   Relationship between gantry expansion and toolhead Z movement.
#   Examples:
#      if 1mm expansion moves toolhead up 1mm, gantry_factor: 1.0
#      if 1mm expansion moves toolhead up 0.5mm, gantry_factor: 0.5
#      if 1mm expansion moves toolhead down 1mm, gantry_factor: -1.0
#   The default is 1.0.
#max_comp_z:
#   Disables compensation above this Z height [mm]. The last computed correction
#   will remain applied until the toolhead moves below the specified Z position
#   again. The default is 0.0mm (always on).
#max_z_offset:
#   Maximum absolute compensation that can be applied to the Z axis [mm]. The
#   default is 99999999.0mm (unlimited).
sensor_type: 100k3950_airtemp
sensor_pin: P0.23
min_temp: 0
max_temp: 100
#   See the "extruder" section for the definition of the above
#   parameters.
gcode_id: frame
#   See the "heater_generic" section for the definition of this
#   parameter.
z_stepper: stepper_z
#   The Z stepper motor linked with the Z endstop, as written in printer.cfg.
#   Used for triggering reference temperature measurement. Usually 'stepper_z'
#   unless otherwise defined.

#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: P2.3
kick_start_time: 0.5
off_below: 0.10

[heater_fan controller_fan]
pin: z:P2.4
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan filter_fan]
pin: z:P2.7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50

#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - Bed Connector (Optional)
#pin: P2.5
#pwm:true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[input_shaper]
shaper_freq_x: 46.00
shaper_freq_y: 47.25

[firmware_retraction]
retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
# 	Displays
#####################################################################

[output_pin beeper]
pin: z:P1.30

[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: z:P1.18
a0_pin: z:P1.19
encoder_pins: ^z:P3.25,^z:P3.26
click_pin: ^!z:P0.28
contrast: 63

[neopixel fysetc_mini12864]
pin: z:P1.21
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
    SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3 

#####################################################################
# 	Macros
#####################################################################

[include mainsail.cfg]
[include macros.cfg]
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.803
#*# pid_ki = 2.000
#*# pid_kd = 103.692
#*#
#*# [stepper_z]
#*# position_endstop = 0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.050000, 0.050000, -0.100000
#*# 	-0.050000, 0.000000, -0.200000
#*# 	0.050000, 0.050000, -0.090000
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 3
#*# max_y = 330.0
#*# mesh_x_pps = 2
#*# max_x = 330.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.816
#*# pid_ki = 0.258
#*# pid_kd = 1314.325
